:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.body {
font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}


 
.search-form {
    font-family: 'Roboto', sans-serif;              
    background-color: #1237dc;
    display: flex;
    justify-content: center;
    padding: 12px;
    margin-bottom: 8px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    border-radius: 5px;
    
    
    
}



.gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 80px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 80px;
    
    

}





.photo-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
    padding-bottom: 0px;
    margin-bottom: 0px;
   
    
}


.info {    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    margin: 0px;
    
    
  
}

.info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: underline white;
    color:black;
    margin-top: 5px;
    margin-bottom: 5px;

   

}

.input-search {
    position: relative;    
    font-family: 'Roboto', sans-serif;   
    outline: none;
    width: 21%;
    height: 26px;
    border-radius: 4px;
    border: 1px solid rgb(254, 254, 254);
   


}

.search {    
   
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    

    
    
    

}

.button-submit {  
    position: absolute;      
    text-transform: uppercase;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid rgb(254, 254, 254);
    border-radius: 4px;
    padding: 0px;
    left: 58%;
 
   
    
   
    
   
}

.load-more {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: .03em;
    display: block;
    margin-left:  auto;
    margin-right: auto;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px;
    background: #1237dc;
    color: white;    
    border: 1px solid #1237dc;
    border-left: none;
    cursor: pointer;
}

.load-more.is-hidden {
    display: none;
}